---
layout: page.njk
---
<section class="section">
    <div class="container">
        <h1 class="title is-1 has-text-centered">{{ title }}</h1>
        <div class="content">
            {{ content | safe }}
        </div>
    </div>
</section>
