---
layout: content-page.njk
title: Community Music Links
description: Links to area community bands and related regional music organizations.
---
<p>
    Explore other local and regional community music groups in Western Massachusetts.
</p>

<h2 class="title is-4">On This Page</h2>
<ul>
    <li><a href="#adult-music">Adult Music in Western Mass</a></li>
    <li><a href="#kids-music">Kids Music in Western Mass</a></li>
</ul>

<h2 class="title is-3" id="adult-music">Adult Music in Western Mass</h2>

<h3 class="title is-4">Local Community Bands</h3>
<ul>
    <li><a href="https://amherstband.org/" target="_blank" rel="noopener noreferrer">Amherst Community Band</a> - Amherst, Massachusetts</li>
    <li><a href="https://www.ashfield.org/2450/Ashfield-Community-Band" target="_blank" rel="noopener noreferrer">Ashfield Community Band</a> - Ashfield, Massachusetts</li>
    <li><a href="https://www.facebook.com/BelCommunityBand/" target="_blank" rel="noopener noreferrer">Belchertown Community Band</a> - Belchertown, Massachusetts</li>
    <li><a href="https://www.facebook.com/ChicopeeAreaBand/" target="_blank" rel="noopener noreferrer">Chicopee Community Band</a> - Chicopee, Massachusetts</li>
    <li><a href="https://eaglescommunityband.org/" target="_blank" rel="noopener noreferrer">Eagles Community Band</a> - Pittsfield, Massachusetts</li>
    <li><a href="https://www.florencecommunityband.com/" target="_blank" rel="noopener noreferrer">Florence Community Band</a> - Florence/Northampton, Massachusetts</li>
    <li><a href="http://www.gwcb.org/" target="_blank" rel="noopener noreferrer">Greater Westfield Community Band</a> - Westfield, Massachusetts</li>
    <li><a href="https://www.greenfieldcommunityband.org/" target="_blank" rel="noopener noreferrer">Greenfield Community Band</a> - formerly Greenfield Military Band - Greenfield, Massachusetts</li>
    <li><a href="https://www.facebook.com/p/Ludlow-Community-Band-100067778618128/" target="_blank" rel="noopener noreferrer">Ludlow Community Band</a> - Ludlow, Massachusetts</li>
    <li><a href="https://www.facebook.com/MontagueCommunityBand/" target="_blank" rel="noopener noreferrer">Montague Community Band</a> - Hannah Smeltz, Director</li>
    <li><a href="https://www.facebook.com/groups/210942645719653/" target="_blank" rel="noopener noreferrer">Orange Community Band</a> - Orange, Massachusetts</li>
    <li><a href="https://www.facebook.com/pvcommunitybandfest/" target="_blank" rel="noopener noreferrer">Pioneer Valley Community Band Festival</a> - Pioneer Valley, Massachusetts</li>
    <li><a href="https://www.facebook.com/p/Quabbin-Community-Band-100054604953636/" target="_blank" rel="noopener noreferrer">Quabbin Community Band</a> - Barre, Massachusetts</li>
    <li><a href="https://www.facebook.com/groups/336753833201364/" target="_blank" rel="noopener noreferrer">Senior Concert Band of Western Massachusetts</a> - Holyoke, Massachusetts</li>
    <li><a href="http://sward.smugmug.com/gallery/5852271_sLpvz#363240563_piwKs" target="_blank" rel="noopener noreferrer">Photos of Senior Concert Band of Western Massachusetts</a></li>
    <li><a href="https://www.facebook.com/ShelburneFallsMilitaryBand/" target="_blank" rel="noopener noreferrer">Shelburne Falls Military Band</a> - Shelburne Falls, Massachusetts</li>
    <li><a href="https://www.shcb.org/" target="_blank" rel="noopener noreferrer">South Hadley Community Band</a> - South Hadley, Massachusetts</li>
    <li><a href="https://www.facebook.com/WestMassBrass/" target="_blank" rel="noopener noreferrer">West Mass Brass Band</a> - Springfield, Massachusetts</li>
</ul>

<h3 class="title is-4">Local Community Choruses</h3>

<h4 class="title is-5">Berkshire County</h4>
<ul>
    <li><a href="https://berkshireconcertchoir.org/" target="_blank" rel="noopener noreferrer">Berkshire Concert Choir</a> - Pittsfield, Massachusetts</li>
    <li><a href="https://berkshirehillschorus.com/" target="_blank" rel="noopener noreferrer">Berkshire Hills Chorus</a> - Berkshire County, Massachusetts</li>
    <li><a href="https://berkshirelyric.org/" target="_blank" rel="noopener noreferrer">Berkshire Lyric</a> - Berkshire County, Massachusetts</li>
    <li><a href="https://nbchorale.org/" target="_blank" rel="noopener noreferrer">Northern Berkshire Chorale</a> - Northern Berkshire County, Massachusetts</li>
</ul>

<h4 class="title is-5">Franklin County</h4>
<ul>
    <li><a href="https://fieryhope.org/" target="_blank" rel="noopener noreferrer">Fiery Hope / Amandla Community Chorus</a> - Greenfield/Pioneer Valley, Massachusetts</li>
    <li><a href="https://franklincountycommunitychorus.weebly.com/" target="_blank" rel="noopener noreferrer">Franklin County Community Chorus</a> - Greenfield, Massachusetts</li>
    <li><a href="https://www.artshubwma.org/event/community-chorus" target="_blank" rel="noopener noreferrer">GCC Community Chorus</a> - Greenfield, Massachusetts</li>
</ul>

<h4 class="title is-5">Hampden County</h4>
<ul>
    <li><a href="https://www.communitymusicschool.com/our-programs/childrens-chorus/" target="_blank" rel="noopener noreferrer">Children's Chorus of Springfield</a> - Springfield, Massachusetts</li>
    <li><a href="https://westfieldchoral.org/" target="_blank" rel="noopener noreferrer">Greater Westfield Choral Association</a> - Westfield, Massachusetts</li>
    <li><a href="https://www.facebook.com/p/Springfield-College-Community-Chorus-100068202834811/" target="_blank" rel="noopener noreferrer">Springfield College Community Chorus</a> - Springfield, Massachusetts</li>
    <li><a href="https://www.springfieldsymphony.org/springfield-symphony-chorus/" target="_blank" rel="noopener noreferrer">Springfield Symphony Chorus</a> - Springfield, Massachusetts</li>
</ul>

<h4 class="title is-5">Hampshire County</h4>
<ul>
    <li><a href="https://www.artshubwma.org/profile/conway-community-chorus" target="_blank" rel="noopener noreferrer">Conway Community Chorus</a> - Conway, Massachusetts</li>
    <li><a href="https://dacamerasingers.org/" target="_blank" rel="noopener noreferrer">Da Camera Singers</a> - Amherst/Pioneer Valley, Massachusetts</li>
    <li><a href="https://www.hampshirechoral.org/" target="_blank" rel="noopener noreferrer">Hampshire Choral Society</a> - Northampton/Amherst, Massachusetts</li>
    <li><a href="https://www.heartofthevalleychorus.org/" target="_blank" rel="noopener noreferrer">Heart of the Valley Chorus</a> - Northampton/Pioneer Valley, Massachusetts</li>
    <li><a href="https://www.facebook.com/pvgmc/" target="_blank" rel="noopener noreferrer">Pioneer Valley Gay Men's Chorus</a> - Florence/Pioneer Valley, Massachusetts</li>
    <li><a href="https://rockvoices.com/" target="_blank" rel="noopener noreferrer">Rock Voices</a> - Northampton/Pioneer Valley, Massachusetts</li>
    <li><a href="https://www.southhadleychorale.org/" target="_blank" rel="noopener noreferrer">South Hadley Chorale</a> - South Hadley, Massachusetts</li>
    <li><a href="https://www.artshubwma.org/index.php/profile/voices-ofthe-valley-community-chorus" target="_blank" rel="noopener noreferrer">Voices of the Valley Community Chorus</a> - Southampton, Massachusetts</li>
    <li><a href="https://www.artshubwma.org/profile/young-at-heart-chorus" target="_blank" rel="noopener noreferrer">Young@Heart Chorus</a> - Florence, Massachusetts</li>
</ul>

<h2 class="title is-3" id="kids-music">Kids Music in Western Mass</h2>

<p>
    Explore music learning opportunities for kids in Western Massachusetts.
</p>

<h3 class="title is-4">Community Music Schools</h3>

<h4 class="title is-5">Berkshire County</h4>
<ul>
    <li><a href="https://www.berkshiremusicschool.org/" target="_blank" rel="noopener noreferrer">Berkshire Music School</a> - Pittsfield, Massachusetts</li>
</ul>

<h4 class="title is-5">Franklin County</h4>
<ul>
    <li><a href="https://www.artspacegreenfield.org/" target="_blank" rel="noopener noreferrer">Artspace Community Arts Center</a> - Greenfield, Massachusetts</li>
</ul>

<h4 class="title is-5">Hampshire County</h4>
<ul>
    <li><a href="https://redbarnmusic.com/" target="_blank" rel="noopener noreferrer">Amherst Red Barn Music School</a> - Amherst, Massachusetts</li>
    <li><a href="https://www.ncmc.net/" target="_blank" rel="noopener noreferrer">Northampton Community Music Center</a> - Northampton, Massachusetts</li>
</ul>

<h4 class="title is-5">Hampden County</h4>
<ul>
    <li><a href="https://www.communitymusicschool.com/" target="_blank" rel="noopener noreferrer">Community Music School of Springfield</a> - Springfield, Massachusetts</li>
</ul>

<h3 class="title is-4">Private Music Schools and Studios</h3>

<h4 class="title is-5">Berkshire County</h4>
<ul>
    <li><a href="https://www.musictogethergb.org/" target="_blank" rel="noopener noreferrer">Lenox Great Barrington Music Together</a> - Lenox/Great Barrington, Massachusetts</li>
</ul>

<h4 class="title is-5">Franklin County</h4>
<ul>
    <li><a href="https://jamiebarrymusic.com/" target="_blank" rel="noopener noreferrer">Jamie Barry Music Lessons</a> - Erving, Massachusetts</li>
    <li><a href="https://musicaltoolbox.com/" target="_blank" rel="noopener noreferrer">Musical Toolbox</a> - Greenfield, Massachusetts</li>
</ul>

<h4 class="title is-5">Hampshire County</h4>
<ul>
    <li><a href="https://www.downtownsounds.com/" target="_blank" rel="noopener noreferrer">Downtown Sounds</a> - Northampton, Massachusetts</li>
    <li><a href="https://ima.org/" target="_blank" rel="noopener noreferrer">The Institute for the Musical Arts</a> - Goshen, Massachusetts</li>
    <li><a href="https://www.joebelmont.com/" target="_blank" rel="noopener noreferrer">Joe Belmont Guitar Lessons</a> - Northampton/Amherst, Massachusetts</li>
    <li><a href="https://www.google.com/maps/search/?api=1&query=Miss+Leticia+Music+School+41+Blue+Hills+Rd+Amherst+MA" target="_blank" rel="noopener noreferrer">Miss Leticia Music School</a> - Amherst, Massachusetts</li>
    <li><a href="https://www.google.com/maps/search/?api=1&query=The+Prindle+School+Hadley+Easthampton+Florence+MA" target="_blank" rel="noopener noreferrer">The Prindle School</a> - Hadley/Easthampton/Florence, Massachusetts</li>
</ul>

<h4 class="title is-5">Hampden County</h4>
<ul>
    <li><a href="https://www.facebook.com/GreaterSpringfieldMusicTogether/" target="_blank" rel="noopener noreferrer">Greater Springfield Music Together</a> - Westfield/Greater Springfield, Massachusetts</li>
    <li><a href="https://stepstrings.com/" target="_blank" rel="noopener noreferrer">STEP Suzuki Strings</a> - Springfield, Massachusetts</li>
</ul>

<h3 class="title is-4">Youth Music Ensembles and Choruses</h3>

<h4 class="title is-5">Berkshire County</h4>
<ul>
    <li><a href="https://www.18degreesma.org/kids-4-harmony/" target="_blank" rel="noopener noreferrer">Kids 4 Harmony</a> - Pittsfield/North Adams, Massachusetts</li>
</ul>

<h4 class="title is-5">Hampden County</h4>
<ul>
    <li><a href="https://www.communitymusicschool.com/our-programs/childrens-chorus/" target="_blank" rel="noopener noreferrer">Children's Chorus of Springfield</a> - Springfield, Massachusetts</li>
    <li><a href="https://www.communitymusicschool.com/ensembles-at-cmss/" target="_blank" rel="noopener noreferrer">Community Music School of Springfield Ensembles</a> - Springfield, Massachusetts</li>
    <li><a href="https://www.communitymusicschool.com/ywes/" target="_blank" rel="noopener noreferrer">Youth Wind Ensemble of Springfield</a> - Springfield, Massachusetts</li>
</ul>

<h3 class="title is-4">Summer Music Programs</h3>

<h4 class="title is-5">Berkshire County</h4>
<ul>
    <li><a href="https://www.belvoirterrace.com/" target="_blank" rel="noopener noreferrer">Belvoir Terrace</a> - Lenox, Massachusetts</li>
    <li><a href="https://www.bu.edu/cfa/tanglewood/" target="_blank" rel="noopener noreferrer">Boston University Tanglewood Institute</a> - Lenox, Massachusetts</li>
    <li><a href="https://www.bso.org/tanglewood/learning-institute/days-in-the-arts" target="_blank" rel="noopener noreferrer">Tanglewood Days in the Arts</a> - Lenox, Massachusetts</li>
</ul>

<h4 class="title is-5">Hampshire County</h4>
<ul>
    <li><a href="https://www.greenwoodmusiccamp.org/" target="_blank" rel="noopener noreferrer">Greenwood Music Camp</a> - Cummington, Massachusetts</li>
    <li><a href="https://ima.org/" target="_blank" rel="noopener noreferrer">The Institute for the Musical Arts</a> - Goshen, Massachusetts</li>
</ul>

<p>
    Know of another Western Mass music opportunity? <a href="https://forms.gle/m4ShiaED5SgKBNuz5">Please contact us</a> with the link.
</p>