---
layout: content-page.njk
title: Community Music Links
description: Links to area community bands and related regional music organizations.
---
<p>
    Explore other local and regional community music groups.
</p>

<ul>
    <li><a href="https://amherstband.org/" target="_blank" rel="noopener noreferrer">Amherst Community Band</a> - Amherst, Massachusetts</li>
    <li><a href="https://www.ashfield.org/2450/Ashfield-Community-Band" target="_blank" rel="noopener noreferrer">Ashfield Community Band</a> - Ashfield, Massachusetts</li>
    <li><a href="https://www.facebook.com/BelCommunityBand/" target="_blank" rel="noopener noreferrer">Belchertown Community Band</a> - Belchertown, Massachusetts</li>
    <li><a href="https://www.facebook.com/ChicopeeAreaBand/" target="_blank" rel="noopener noreferrer">Chicopee Community Band</a> - Chicopee, Massachusetts</li>
    <li><a href="https://eaglescommunityband.org/" target="_blank" rel="noopener noreferrer">Eagles Community Band</a> - Pittsfield, Massachusetts</li>
    <li><a href="https://www.florencecommunityband.com/" target="_blank" rel="noopener noreferrer">Florence Community Band</a> - Florence/Northampton, Massachusetts</li>
    <li><a href="http://www.gwcb.org/" target="_blank" rel="noopener noreferrer">Greater Westfield Community Band</a> - Westfield, Massachusetts</li>
    <li><a href="https://www.facebook.com/greenfieldmilitaryband1904/" target="_blank" rel="noopener noreferrer">Greenfield Military Band</a> - Greenfield, Massachusetts</li>
    <li><a href="https://www.facebook.com/p/Ludlow-Community-Band-100067778618128/" target="_blank" rel="noopener noreferrer">Ludlow Community Band</a> - Ludlow, Massachusetts</li>
    <li><a href="https://www.facebook.com/MontagueCommunityBand/" target="_blank" rel="noopener noreferrer">Montague Community Band</a> - Hannah Smeltz, Director</li>
    <li><a href="https://www.facebook.com/groups/210942645719653/" target="_blank" rel="noopener noreferrer">Orange Community Band</a> - Orange, Massachusetts</li>
    <li><a href="https://www.facebook.com/pvcommunitybandfest/" target="_blank" rel="noopener noreferrer">Pioneer Valley Community Band Festival</a> - Pioneer Valley, Massachusetts</li>
    <li><a href="https://www.facebook.com/p/Quabbin-Community-Band-100054604953636/" target="_blank" rel="noopener noreferrer">Quabbin Community Band</a> - Barre, Massachusetts</li>
    <li><a href="https://www.facebook.com/groups/336753833201364/" target="_blank" rel="noopener noreferrer">Senior Concert Band of Western Massachusetts</a> - Holyoke, Massachusetts</li>
    <li><a href="http://sward.smugmug.com/gallery/5852271_sLpvz#363240563_piwKs" target="_blank" rel="noopener noreferrer">Photos of Senior Concert Band of Western Massachusetts</a></li>
    <li><a href="https://www.facebook.com/ShelburneFallsMilitaryBand/" target="_blank" rel="noopener noreferrer">Shelburne Falls Military Band</a> - Shelburne Falls, Massachusetts</li>
    <li><a href="https://www.shcb.org/" target="_blank" rel="noopener noreferrer">South Hadley Community Band</a> - South Hadley, Massachusetts</li>
    <li><a href="https://www.facebook.com/WestMassBrass/" target="_blank" rel="noopener noreferrer">West Mass Brass Band</a> - Springfield, Massachusetts</li>
</ul>