---
layout: content-page.njk
title: Join the Amherst Community Band!
description: How to join the Amherst Community Band.
---
<div class="columns">
    <div class="column is-one-third">
        <figure>
            {% image "src/_images/uncle_sam_trumpet.jpg", "Uncle Sam playing trumpet illustration", "(min-width: 768px) 33vw, 100vw", "has-soft-corners" %}
        </figure>
    </div>
    <div class="column">
        <div class="container p-4">
            <p>The Amherst Community Band features musicians of all abilities and ages from enthusiastic amateurs to professionals, music teachers, middle and high school students, college students, and retirees. Membership is open to all who are interested and no audition is required. <br><br>Come play with us. There's <i>no audition</i>! Simply join a rehearsal listed on our <a href="{{ config.sitePath }}/members/">members page</a>.</p>
        </div>
        <br>
        <div class="container has-text-centered">
            <a class="button is-large is-primary has-text-white has-text-weight-bold" href="https://docs.google.com/forms/d/1nuJW-ZWfX4PpOa5TBXrIaNZX7z1w-D5yCEj5n_BbWLw/edit#response=ACYDBNi9KF_sG6WK7TuISavmooIY58MvRhoPU1S-JDF0rV94UQX7Nj6rtuBnhbGfvvjCRj4">Amherst Community Band 2026 Season Signup Form</a>
        </div>
    </div>
</div>
