---
layout: content-page.njk
title: Kids Music in Western Mass
description: Music education opportunities for children in Western Massachusetts
---
<div class="notification is-info">
    <p><strong>Kids Music opportunities have been moved!</strong> Find all kids music programs on our <a href="/community-music-links/#kids-music">Community Music Links page</a>, where you can jump directly to the Kids Music section using the table of contents at the top.</p>
</div>

<p>
    <a class="button is-primary" href="/community-music-links/#kids-music">Go to Kids Music Section</a>
</p>
